---
services:
  nginx:
    image: docker.io/library/nginx:1.28.2-alpine3.23
    volumes:
      - ./docker-entrypoint.d/00-nginx.conf.sh:/docker-entrypoint.d/00-nginx.conf.sh:ro
      - ./etc/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./etc/nginx/njs:/etc/nginx/njs:ro
      - ./etc/nginx/templates:/etc/nginx/templates:ro
    environment:
      NGINX_ENTRYPOINT_LOCAL_RESOLVERS: 1
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx/partials
    ports:
      - "8080:80/tcp"
    restart: unless-stopped
    depends_on:
      keycloak:
        condition: service_healthy
        restart: true
      oauth2-proxy:
        condition: service_started
        restart: true

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.4
    hostname: keycloak.localhost
    environment:
      KC_HTTP_PORT: 9080
      KC_HEALTH_ENABLED: true
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "9080:9080/tcp"
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./etc/keycloak:/opt/keycloak/data/import # user=admin@example.com, password=password
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/9000 && printf >&3 '%s\r\n' 'GET /health/ready HTTP/1.1' 'Host: localhost' 'Connection: close' '' && grep -q 'HTTP/1.1 200 OK' <&3" ]
      interval: 30s
      timeout: 5s
    restart: unless-stopped

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.14.3
    environment:
      # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview#general-provider-options
      OAUTH2_PROXY_CLIENT_ID: "oauth2-proxy"
      OAUTH2_PROXY_CLIENT_SECRET: "72341b6d-7065-4518-a0e4-50ee15025608"
      OAUTH2_PROXY_OIDC_ISSUER_URL: "http://keycloak.localhost:9080/realms/oauth2-proxy"
      OAUTH2_PROXY_PROVIDER: "oidc"
      # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview#cookie-options
      # OAUTH2_PROXY_COOKIE_DOMAINS:
      OAUTH2_PROXY_COOKIE_SECRET: "wenKY5NUBWSLO8CRh1a81K7I-sqROgoAfEpbXCKhtfI="
      OAUTH2_PROXY_COOKIE_SECURE: "false"
      # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview#header-options
      OAUTH2_PROXY_PASS_ACCESS_TOKEN: "true"
      OAUTH2_PROXY_SET_AUTHORIZATION_HEADER: "true"
      OAUTH2_PROXY_SET_XAUTHREQUEST: "true"
      # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/#proxy-options
      OAUTH2_PROXY_EMAIL_DOMAINS: "*"
      OAUTH2_PROXY_REDIRECT_URL: "http://localhost:8080/oauth2/callback"
      OAUTH2_PROXY_REVERSE_PROXY: "true"
      OAUTH2_PROXY_WHITELIST_DOMAINS: "localhost:8080"
      # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview#server-options
      OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
    restart: unless-stopped
    depends_on:
      keycloak:
        condition: service_healthy
