---
name: Spring Boot
permissions: { }

on:
  push:
    paths:
      - 'spring-boot/**'
      - '!spring-boot/README.md'
      - '.github/workflows/spring-boot.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-java:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        javaVersion: [ "17", "21" ]
        javaDistribution: [ "temurin", "zulu" ]
        pgDockerTag: [ "18.1", "17.7", "16.11", "15.15", "14.20", "13.23" ]
    name: Java ${{ matrix.javaVersion }}-${{ matrix.javaDistribution }} w/ PostgreSQL ${{ matrix.pgDockerTag }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.javaDistribution }}
          java-version: ${{ matrix.javaVersion }}
          cache: 'maven'
      - run: ./mvnw test --no-transfer-progress -DargLine="-Dspring.datasource.url=jdbc:tc:postgresql:${{ matrix.pgDockerTag }}:///"
        working-directory: spring-boot

  diKTat:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - run: ./mvnw diktat:check --no-transfer-progress
        working-directory: spring-boot
